NiFi_Flow.json
{"flowContents":{"identifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","instanceIdentifier":"2d887a9a-0181-1000-e371-ec03545022e4","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8f7ca379-47a9-3672-a3b2-ff9db92b4a09","instanceIdentifier":"2da23d97-0181-1000-e337-5f79057c6caa","name":"PutMongoRecord","comments":"","position":{"x":1016.0,"y":184.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.16.2"},"properties":{"mongo-client-service":null,"ordered":"False","ssl-context-service":null,"ssl-client-auth":"REQUIRED","update-mode":"one","Mongo Database Name":"demo","insert_count":"100","update-key-fields":null,"Mongo URI":"mongodb://172.18.0.4:27017","Mongo Collection Name":"nifi","record-reader":"13b4d022-7606-3875-adcf-30f48ab26e9c","bypass-validation":"True","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"ordered":{"name":"ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"update-mode":{"name":"update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"insert_count":{"name":"insert_count","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"update-key-fields":{"name":"update-key-fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"bypass-validation":{"name":"bypass-validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"},{"identifier":"3ef4eb30-e692-3b8f-ab56-93b37abde301","instanceIdentifier":"2d91c5b9-0181-1000-bb5e-68839ac10ed2","name":"ConsumeAMQP","comments":"","position":{"x":304.0,"y":184.0},"type":"org.apache.nifi.amqp.processors.ConsumeAMQP","bundle":{"group":"org.apache.nifi","artifact":"nifi-amqp-nar","version":"1.16.2"},"properties":{"ssl-context-service":null,"User Name":"guest","ssl-client-auth":"NONE","batch.size":"10","Port":"5672","Brokers":null,"cert-authentication":"false","auto.acknowledge":"false","Host Name":"172.18.0.3","header.separator":",","AMQP Version":"0.9.1","Virtual Host":null,"Queue":"test","remove.curly.braces":"False"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"User Name":{"name":"User Name","displayName":"User Name","identifiesControllerService":false,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"batch.size":{"name":"batch.size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Brokers":{"name":"Brokers","displayName":"Brokers","identifiesControllerService":false,"sensitive":false},"cert-authentication":{"name":"cert-authentication","displayName":"Use Client Certificate Authentication","identifiesControllerService":false,"sensitive":false},"auto.acknowledge":{"name":"auto.acknowledge","displayName":"Auto-Acknowledge Messages","identifiesControllerService":false,"sensitive":false},"Host Name":{"name":"Host Name","displayName":"Host Name","identifiesControllerService":false,"sensitive":false},"header.separator":{"name":"header.separator","displayName":"Header Separator","identifiesControllerService":false,"sensitive":false},"AMQP Version":{"name":"AMQP Version","displayName":"AMQP Version","identifiesControllerService":false,"sensitive":false},"Virtual Host":{"name":"Virtual Host","displayName":"Virtual Host","identifiesControllerService":false,"sensitive":false},"Queue":{"name":"Queue","displayName":"Queue","identifiesControllerService":false,"sensitive":false},"remove.curly.braces":{"name":"remove.curly.braces","displayName":"Remove Curly Braces","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"}],"inputPorts":[],"outputPorts":[{"identifier":"8b078a33-57f2-3651-90d7-24c463f5b417","instanceIdentifier":"2db13d25-0181-1000-1bdc-1b8e67cdc1dd","name":"test","position":{"x":1096.0,"y":584.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"OUTPUT_PORT","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"},{"identifier":"97974990-4a55-3631-82c0-8a84fbb4d4d1","instanceIdentifier":"2db24b07-0181-1000-aa62-895a00974320","name":"success","position":{"x":1709.3234036005656,"y":268.0986921878456},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"OUTPUT_PORT","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"}],"connections":[{"identifier":"61b7280a-12d1-3c66-96d4-ecbbca89dc1b","instanceIdentifier":"2db2615f-0181-1000-d3f7-53580ab72bd1","name":"","source":{"id":"8f7ca379-47a9-3672-a3b2-ff9db92b4a09","type":"PROCESSOR","groupId":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","name":"PutMongoRecord","comments":"","instanceIdentifier":"2da23d97-0181-1000-e337-5f79057c6caa"},"destination":{"id":"97974990-4a55-3631-82c0-8a84fbb4d4d1","type":"OUTPUT_PORT","groupId":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","name":"success","instanceIdentifier":"2db24b07-0181-1000-aa62-895a00974320"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"},{"identifier":"b2791002-0f20-32aa-939f-e769502c82a3","instanceIdentifier":"2d951d33-0181-1000-72b1-4cbf0d2a4378","name":"","source":{"id":"3ef4eb30-e692-3b8f-ab56-93b37abde301","type":"PROCESSOR","groupId":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","name":"ConsumeAMQP","comments":"","instanceIdentifier":"2d91c5b9-0181-1000-bb5e-68839ac10ed2"},"destination":{"id":"8f7ca379-47a9-3672-a3b2-ff9db92b4a09","type":"PROCESSOR","groupId":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","name":"PutMongoRecord","comments":"","instanceIdentifier":"2da23d97-0181-1000-e337-5f79057c6caa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"},{"identifier":"9b2552f1-c010-3620-90ca-3d38fb886d65","instanceIdentifier":"2db1594a-0181-1000-00f0-317a3ba5323e","name":"","source":{"id":"8f7ca379-47a9-3672-a3b2-ff9db92b4a09","type":"PROCESSOR","groupId":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","name":"PutMongoRecord","comments":"","instanceIdentifier":"2da23d97-0181-1000-e337-5f79057c6caa"},"destination":{"id":"8b078a33-57f2-3651-90d7-24c463f5b417","type":"OUTPUT_PORT","groupId":"bf40d2a0-eb0e-34be-8001-6494ff666bd1","name":"test","instanceIdentifier":"2db13d25-0181-1000-1bdc-1b8e67cdc1dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"13b4d022-7606-3875-adcf-30f48ab26e9c","instanceIdentifier":"2dc4043e-0181-1000-d2a6-22a21db4b5e9","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.2"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.2"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf40d2a0-eb0e-34be-8001-6494ff666bd1"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}